.ant-table-row+tr {
}

.ant-table-cell+td {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}



.ant-table-thead>tr>th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}